.DS_Store
.idea
.es_log*
.es_node
.kb_log*
.kb_node
.PRUN_ENVIRONMENT.*
.es_path
elasticsearch.*.fs0
output.tsv

Lib
Scripts
pyvenv.cfg
data/output/
/src/venv
/src/__pycache__
venv
VENV/
venv.zip
data/predictions.tsv
tmp
